<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Bus</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1>Add Bus</h1>
      <form action="/add/bus" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            required
          />
        </div>
        <div class="form-group">
          <label for="route">Route</label>
          <input
            type="text"
            class="form-control"
            id="route"
            name="route"
            required
          />
        </div>
        <div class="form-group">
          <label for="timings">Timings</label>
          <input
            type="text"
            class="form-control"
            id="timings"
            name="timings"
            required
          />
        </div>
        <div class="form-group">
          <label for="rating">Rating</label>
          <input
            type="text"
            class="form-control"
            id="rating"
            name="rating"
            required
          />
        </div>
        <div class="form-group">
          <label for="mapLink">Map Link</label>
          <input type="text" class="form-control" id="mapLink" name="mapLink" />
        </div>
        <!-- <div class="form-group">
          <label for="reviews">Reviews</label>
          <input
            type="text"
            class="form-control"
            id="reviews"
            name="reviews[0][rating]"
            placeholder="Rating"
          />
          <input
            type="text"
            class="form-control mt-2"
            name="reviews[0][review]"
            placeholder="Review"
          />
        </div> -->
        <button type="submit" class="btn btn-primary">Add Bus</button>
      </form>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
