<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Signup</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- Custom CSS -->
    <style>
      body {
        background-color: #f3f7fa; /* Light Turquoise */
        color: #1abc9c; /* Turquoise */
      }

      .form-container {
        margin-top: 50px;
      }

      .form-title {
        text-align: center;
        margin-bottom: 30px;
      }

      .form-group label {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center form-container">
        <div class="col-md-6">
          <h2 class="form-title">Add User</h2>
          <!-- Signup Form -->
          <form action="/create/user" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                required
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block">
              Sign Up
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
