<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moderator Login</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        background-color: #34495e; /* Dark Navy Blue */
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }

      .card {
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      }

      .card-header {
        background-color: #2980b9; /* Teal */
        color: #ffffff; /* White */
        border-radius: 10px 10px 0 0;
      }

      .btn-primary {
        background-color: #16a085; /* Turquoise */
        border: none;
      }

      /* Success message style */
      .success-message {
        background-color: #2ecc71; /* Emerald Green */
        color: #ffffff; /* White */
        padding: 10px;
        border-radius: 5px;
        margin-top: 10px;
        display: none; /* Initially hide the message */
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h5 class="text-center" style="color: black">Moderator Login</h5>
            </div>
            <div class="card-body">
              <!-- Form for moderator login -->
              <form action="/mod" method="POST">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    value="moderator"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    required
                  />
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                  Login
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
